body {
  background-color: lightgrey;
}

h1 {
  margin: 30px;
  letter-spacing: 10px;
}

form {
  width: 70%  ;
  margin: 0 auto;
}

div {
  width: 70%  ;
  margin: 0 auto;
}

form input {
  height: 30px;
}

.task {
  width: 500px;
}

.list {
  margin-top: 50px;
}

.list ul li {
  width: 70%;
  padding: 5px 0;
  font-size: 20px;
  border-bottom: solid 1.5px grey;
}

.list ul li button  {
  margin: 0 2px;
  padding: 0 10px;
  float: right;
  font-size: 18px;
}